.createStudentBtn1 {
    /* color: #00674c !important;
    background: #ffffff !important;
    padding: 7px;
    border: 4px solid #00674c !important;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-family: "Oswald";
    font-size: 1.2rem !important; */
    background-color: #00674c !important; /* Green */
    border: none !important;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 4px 0 #00674c, 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        }
    .createStudentBtn:hover {
        /* color: #494949 !important;
        border-radius: 50px;
        background: #ffffff !important;
        border-color: #494949 !important;
        transition: all 0.3s ease 0s;
        text-decoration: none; */
    }
    th,td{
        border: none;
        font-family: "Oswald";
    }
    .studentRow{
        padding: 20px;
    }